@author: Octavio Gutiérrez de Código Máquina 

URL del canal: https://www.youtube.com/CodigoMaquina 

URL del video: https://youtu.be/8GS8vY1YDG8 

<h1 style="color:purple">Muestreo Aleatorio Simple</h1>

In [1]:
import numpy as np
import pandas as pd

datos = pd.read_csv("diabetes.csv")
datos

      imc  glucosa
0    33.6      148
1    26.6       85
2    23.3      183
3    28.1       89
4    43.1      137
..    ...      ...
763  32.9      101
764  36.8      122
765  26.2      121
766  30.1      126
767  30.4       93

[768 rows x 2 columns]

<h2 style="color:purple">Muestreo de Renglones</h2>

In [2]:
muestra_personas = datos.sample(frac = 0.10)
muestra_personas

      imc  glucosa
334  23.9       95
566  38.6       99
422  40.6      102
55   23.0       73
522   0.0      114
..    ...      ...
435  42.4      141
679  24.2      101
281  35.9      129
612  38.2      168
73   35.1      129

[77 rows x 2 columns]

<h2 style="color:purple">Muestreo de Elementos de una Columna</h2>

In [3]:
muestra_glucosas = np.random.choice(datos["glucosa"], 10)
muestra_glucosas

array([105, 108,  88, 181, 125, 105,  78, 137, 125, 147], dtype=int64)

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>